@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body{
	font-family:"Roboto";
}

h1,h2,h3,h4,h5,h6{
	font-family:"Roboto";
	font-weight:bold;
}

#footer{
	colo#1f242e
}

.custom-font-1{
	font-family:"Roboto";
	font-size:80px;
	font-weight:900;
}


